#p1{
width:12%;
height:20%;
top:20%;
left:24%;
}
#p2{
width:10%;
height:20%;
top:20%;
left:34.5%;
}
#p3{
width:10%;
height:20%;
top:20%;
right:34.5%;
}
#p4{
width:10%;
height:20%;
top:20%;
right:24%;
}
#p9{
width:10%;
height:20%;
top:20%;
left:45%;
}
#p5{
width:12%;
height:20%;
bottom:31%;
left:29%;
}
#p6{
width:10%;
height:20%;
bottom:31%;
left:39.5%;
}
#p7{
width:10%;
height:20%;
bottom:31%;
right:39.5%;
}
#p8{
width:10%;
height:20%;
bottom:31%;
right:29%;
}

.picture>div{
font: bold 16px Rosa, Bad Script; 
}
.place>img{
max-width:110% !important;
max-height:110% !important;
}