#p1{
width:12%;
height:20%;
top:22%;
left:24%;
}
#p2{
width:10%;
height:20%;
top:22%;
left:38%;
}
#p3{
width:10%;
height:20%;
top:22%;
right:38%;
}
#p4{
width:10%;
height:20%;
top:22%;
right:24%;
}
#p5{
width:10%;
height:20%;
bottom:32%;
right:31%;
}
#p6{
width:10%;
height:20%;
bottom:32%;
left:31%;
}
#p7{
width:10%;
height:20%;
bottom:32%;
left:45%;
}
.picture>div{
font: bold 18px Rosa, Bad Script; 
}
.place>img{
max-width:120% !important;
max-height:120% !important;
}