#p1{
width:15%;
height:26%;
top:30%;
left:30%;
}
#p2{
width:15%;
height:26%;
bottom:30%;
right:29%;
}
#p3{
width:15%;
height:26%;
bottom:38%;
right:42%;
}
.picture>div{
font: bold 22px Rosa, Bad Script; 
}