#p1{
width:12%;
height:20%;
top:21%;
left:24%;
}
#p2{
width:10%;
height:20%;
top:21%;
left:38%;
}
#p3{
width:10%;
height:20%;
top:21%;
right:38%;
}
#p4{
width:10%;
height:20%;
top:21%;
right:24%;
}
#p5{
width:12%;
height:20%;
bottom:31%;
left:24%;
}
#p6{
width:10%;
height:20%;
bottom:31%;
left:38%;
}
#p7{
width:10%;
height:20%;
bottom:31%;
right:38%;
}
#p8{
width:10%;
height:20%;
bottom:31%;
right:24%;
}

.picture>div{
font: bold 18px Rosa, Bad Script; 
}
.place>img{
max-width:110% !important;
max-height:110% !important;
}